*
{
    padding: 0%;
    margin: 0%;
    box-sizing: none;
    background-color: black;
}

.stopwatch
{

    
    margin: auto;
    padding: 10px;
    text-align: center;
}
.screen
{
  
    
  
    font-size: 60px;
    color:white
    

}

#button-start
{
    background-color: green;
    padding-right: 3px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px ;
    color:white;

    
    

}
#stop-button
{
    background-color: red;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    color:white;

}
#button-reset
{
    background-color: rgb(49, 49, 225);
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px ;
    color:white;

}



